.dashboard .cnt-controls {
  padding: .5em 1em;
  border-radius: 5px; }
  .dashboard .cnt-controls .prev {
    transform: rotate(180deg); }
  .dashboard .cnt-controls .date {
    display: inline-block;
    width: 10em;
    margin: 0;
    font-size: 1.4em;
    font-weight: 500;
    text-align: center; }
    .dashboard .cnt-controls .date.custom {
      width: 5em; }

.dashboard .cnt-calendar {
  min-height: 20em;
  margin-top: 1em;
  padding: 0 0 .5em 0;
  background-color: #1e2127;
  border-radius: 5px; }

.dashboard .cnt-day-head {
  width: 14%;
  text-align: center;
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: bold;
  background-color: #1e2127; }

.dashboard .cnt-day {
  position: relative;
  width: 14%;
  height: 4em;
  text-align: right;
  font-size: 2em;
  border: 2px solid #1e2127;
  background-color: #252830; }
  .dashboard .cnt-day .day {
    position: absolute;
    right: 0;
    top: 0;
    font-size: .8em;
    padding-right: .2em; }
    .dashboard .cnt-day .day.other-month {
      opacity: 0.2; }
  .dashboard .cnt-day .today {
    text-decoration: underline; }

.dashboard .view-week .card-header p {
  margin: 0;
  text-align: center; }

.dashboard .view-week .card-header .day-number {
  font-size: 1.8em; }

.dashboard .view-week .card-header .day-name {
  text-transform: uppercase;
  font-size: .6em; }
